<div class="root">
  <div class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name">kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">Ideias</div>
          <div class="tasks-container">
            <div class="task">Isso é algo que eu quero fazer</div>
            <div class="task">Isso é algo que eu quero fazer</div>
            <div class="task">Isso é algo que eu quero fazer</div>
            <div class="task">Isso é algo que eu quero fazer</div>
            <div class="task">Isso é algo que eu quero fazer</div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">Pesquisar</div>
        </div>
        <div class="board-column">
          <div class="column-title">A Fazer</div>
        </div>
        <div class="board-column">
          <div class="column-title">Feito</div>
        </div>
      </div>
    </div>
  </div>
</div>
