/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

html {
  background: rgb(202, 226, 233);
    background: radial-gradient(circle, rgba(202, 226, 233, 1) 34%, rgba(118, 203, 229, 1) 90%);
  background-size: cover;

  overflow-y: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
